@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

header {
  font-size: 1.5rem;
}

#logo img {
  width: 7rem;
  height: 7rem;
  border-radius: 7rem;
}

footer,
nav {
  background-color: #2b3035;
}
