@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

header {
  font-size: 1.5rem;
}

#logo img {
  width: 7rem;
  height: 7rem;
  border-radius: 7rem;
}

.hero-paragraph {
  font-size: 1.2rem;
  max-width: 60ch;
}

.hero-img {
  background-image: url(/img/heroImg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 50vw rgba(0, 0, 0, 0.1);
}

.cardOnHover:hover {
  transform: scale(1.1);
}

footer,
nav {
  background-color: #2b3035;
}

@media (max-width: 765px) {
  h2 {
    font-size: 2rem;
  }
}
